<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="IotHubConnectionString" value="HostName=GMilekaStd1.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=ZHSPH2At9yivHvI8XgxPt+6lRE+jLZFCyob7s8vAT+g=" />
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=gmilekastore00;AccountKey=J3Gr0Hz2HZR/OMxCur2oXkIp/V8+N5k5JNgRwlrZcSGtw7u6TFqJ2IkMbA6VOwnji02PnW4mKDWU96nFGVeAmQ==;" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>